* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-header {
  position: absolute;
  background-color: #282c34;
  height: 90px;
  width: 100%;
  padding: 25px;
  font-size: calc(10px + 2vmin);
  color: white;
  z-index: 4;
}
